#!/usr/bin/make -f

# Load dpkg helper macros (optional, can be used for PACKAGE_NAME etc.)
include /usr/share/dpkg/pkg-info.mk

PACKAGE_PRE_NAME := mrvlprestera
MOD_SRC_DIR := $(shell pwd)

%:
	dh $@
	#dh $@ --with python3 --buildsystem=pybuild

# No build or configure needed for prebuilt files
override_dh_auto_clean:
	dh_testdir
	dh_testroot
	dh_clean

override_dh_auto_configure:
	# Nothing to configure

override_dh_auto_build:
	# Nothing to build; only generate .install file
	@if [ "$(CONFIGURED_ARCH)" = "amd64" ]; then \
		echo "platform/$(CONFIGURED_ARCH)/common/usr/local/bin/* /usr/local/bin" > \
		    ${MOD_SRC_DIR}/debian/mrvlprestera.install; \
		echo "platform/common/* /" >> \
		    ${MOD_SRC_DIR}/debian/mrvlprestera.install; \
	else \
		sed "s/ARCH/${CONFIGURED_ARCH}/g" \
		    ${MOD_SRC_DIR}/debian/mrvlprestera.install.template \
		    > ${MOD_SRC_DIR}/debian/mrvlprestera.install; \
	fi
	cp -f ${MOD_SRC_DIR}/platform/files-overload/sonic.target \
	      ${MOD_SRC_DIR}/../../../files/build_templates/sonic.target

override_dh_auto_test:
	# No tests to run

override_dh_usrlocal:
	# debian/sonic-platform-<>-<>/usr/local/bin/* are already done

# Install files into package staging area according to generated .install
override_dh_auto_install:
	dh_auto_install
