#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

PACKAGE_PRE_NAME := mrvlprestera
MOD_SRC_DIR:= $(shell pwd)

%:
	dh $@ --with systemd,python3 --buildsystem=pybuild

clean:
	dh_testdir
	dh_testroot
	dh_clean

build:
	sed "s/ARCH/${CONFIGURED_ARCH}/g" ${MOD_SRC_DIR}/debian/mrvlprestera.install.template > ${MOD_SRC_DIR}/debian/mrvlprestera.install
	# Done

binary: binary-arch binary-indep
	# Nothing to do

binary-arch: 
	# Nothing to do

binary-indep:
	dh_testdir
	dh_installdirs

	# Resuming debhelper scripts
	dh_testroot
	dh_install
	dh_installchangelogs
	dh_installdocs
	dh_systemd_enable
	dh_installinit
	dh_systemd_start
	dh_link
	dh_fixperms
	dh_compress
	dh_strip
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb
.PHONY: build binary binary-arch binary-indep clean
